/*-------------------------------------
  General CSS for RTL Version
-----------------------------------*/
input,
select {
  text-align: right;
}

select {
  background-position: 8% 50%;
}

.link i {
  margin-left: 0;
  margin-right: 5px;
}

.btn i {
  margin: 0 7px 0 0px;
  top: 1px;
}

.btn.style1 i {
  margin-left: 7px;
  margin-right: 0px;
}

.btn.style3 i {
  margin: 0 6px 0 7px;
  top: -1px;
}

.link {
  position: relative;
}

.link i {
  top: 2px;
  left: -20px;
  right: auto;
}

.link.style1::after {
  left: 0;
  right: 0;
}

.link.style2 i {
  right: -18px;
  left: auto;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  right: -9999px;
  left: auto;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  padding-left: 0;
  padding-right: 28px;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  left: auto;
  right: 0;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  left: auto;
  right: 4px;
}

.create-collection-form .radio-btn .form-group {
  margin-right: 0;
  margin-left: 25px;
}

.checkbox label {
  padding-left: 0;
  padding-right: 25px;
}

.checkbox label::before {
  right: 0;
  left: auto;
  top: 5px;
}

.checkbox input:checked + label::after {
  left: auto;
  right: 8px;
}

.checkbox input:checked + label::after {
  right: 8px;
  left: auto;
  top: 8px !important;
}

.social-profile li:last-child,
.social-profile.style2 li:last-child {
  margin-right: 10px !important;
}

.social-profile li:first-child {
  margin-right: 0;
}

.back-to-top {
  right: auto;
  left: 20px;
}

.sidebar .sidebar-widget h4::after {
  left: auto;
  right: 0;
}

.select-method input {
  display: none;
}

.select-method [type="radio"]:checked + label::before,
.select-method [type="radio"]:not(:checked) + label::before {
  left: auto;
  right: 0;
}

.switch-theme-mode {
  right: auto;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.buy-now-btn {
  right: auto;
  left: 20px;
}

input, textarea {
  text-align: right;
}

.content-feature-list li {
  padding-left: 0;
  padding-right: 25px;
}

.content-feature-list li i {
  left: auto;
  right: 0;
}

.content-feature-list.style3 li, .content-feature-list.style4 li {
  padding-left: 0;
  padding-right: 45px;
}

.content-feature-list.style3 li span, .content-feature-list.style4 li span {
  left: auto;
  right: 0;
}

/*------------------------
Header & Breadcrumb CSS
-------------------------*/
.header-wrap .navbar .navbar-nav > .nav-item > a::after {
  left: auto;
  right: 0;
}

.login-content {
  padding: 0 0 0 45px;
}

#signIn .modal-content .modal-header .btn-close, #signUp .modal-content .modal-header .btn-close {
  right: auto;
  left: 15px;
}

.breadcrumb-title .breadcrumb-menu li {
  padding-right: 15px;
}

.breadcrumb-title .breadcrumb-menu li:after {
  right: auto;
  left: -13px;
}

.breadcrumb-title .breadcrumb-menu li:first-child {
  margin-right: 0;
  padding-right: 0;
}

.breadcrumb-title .breadcrumb-menu li:first-child a {
  padding-right: 0;
}

.breadcrumb-title .breadcrumb-menu li:last-child {
  margin-left: 0;
}

.pp-post-item .pp-post-info span i {
  left: auto;
  right: 0;
}

.pp-post-item .pp-post-info span {
  padding-right: 22px;
  padding-left: 0;
}

.category-box ul li a i {
  margin-left: 0;
  margin-right: 2px;
}

.category-box ul li a {
  border-left: none;
  border-right: 6px solid transparent;
}

.category-box ul li a {
  font-weight: 600;
  padding: 8px 0px 8px 0px;
}

.category-box ul li a i {
  left: auto;
  right: 0;
}

.category-box ul li a span {
  float: left;
  margin-left: 0;
  margin-right: 4px;
}

.category-box ul li a:hover {
  padding-left: 0;
  padding-right: 15px;
}

/*-------------------------------
   Hero Section  CSS
-------------------------------*/
.hero-wrap.style1 .hero-content .hero-shape-one {
  right: auto;
  left: 50px;
}

.hero-wrap.style1 .hero-content form input {
  padding: 10px 47px 10px 115px;
}

.hero-wrap.style1 .hero-content form i {
  left: auto;
  right: 20px;
}

.hero-wrap.style1 .hero-content form button {
  right: auto;
  left: 0;
}

.hero-wrap.style1 .hero-img-wrap .client-feedback {
  left: auto;
  right: 110px;
}

.hero-wrap.style1 .hero-img-wrap .hero-bg-one {
  margin-left: 0;
  margin-right: auto;
}

.hero-wrap.style1 .hero-img-wrap .hero-property-slider {
  right: 0;
  left: auto;
  margin-left: 0;
  margin-right: auto;
}

.hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav button.owl-prev {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav button.owl-prev.owl-prev, .hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav button.owl-next.owl-prev {
  text-align: left;
}

.hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav button.owl-prev.owl-prev:after, .hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav button.owl-next.owl-prev:after {
  left: auto;
  right: 15px;
}

.hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav button.owl-prev.owl-next, .hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav button.owl-next.owl-next {
  text-align: right;
}

.hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav button.owl-prev.owl-next:after, .hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav button.owl-next.owl-next:after {
  left: auto;
  right: 15px;
}

.hero-wrap.style2 .container-fluid .client-feedback {
  left: 125px;
  right: auto;
}

.hero-wrap.style2 .hero-slide-item:after {
  left: auto;
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(1, 34, 115, 0.9)), color-stop(66%, rgba(1, 34, 115, 0.02)), color-stop(67%, rgba(1, 34, 115, 0.04)));
  background: linear-gradient(-90deg, rgba(1, 34, 115, 0.9) 0%, rgba(1, 34, 115, 0.02) 66%, rgba(1, 34, 115, 0.04) 67%);
}

.hero-wrap.style3 .hero-content .client-feedback {
  display: block;
}

.hero-wrap.style3 .hero-content .property-search-form .form-group-wrap {
  margin-right: 0;
  margin-left: 22px;
}

.hero-wrap.style3 .hero-content .property-search-form .form-group-wrap .form-group {
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.hero-wrap.style3 .hero-content .property-search-form .form-group-wrap .form-group select {
  background-position: 8% 57%;
}

.search-property .property-search-form .form-group {
  margin-left: 21px;
  margin-right: 0;
}

.search-property .property-search-form .form-group:last-child {
  margin-left: 0;
}

/*-------------------------------
   About Section  CSS
-------------------------------*/
.about-wrap.style1 .about-shape-three {
  left: 50px;
  right: auto;
}

.about-wrap.style1 .about-img-wrap .about-shape-one {
  left: auto;
  right: 50px;
}

.about-wrap.style1 .about-img-wrap .about-shape-two {
  right: auto;
  left: 50px;
}

.about-wrap.style1 .about-img-wrap .about-img-one {
  margin-right: 0;
  margin-left: auto;
}

.about-wrap.style1 .about-img-wrap .about-img-two {
  right: auto;
  left: 0;
}

.about-wrap.style2 .about-box .about-shape-three {
  left: 0;
  right: auto;
}

.about-wrap.style2 .about-box .about-content {
  padding-left: 40px;
  padding-right: 0;
}

.about-wrap.style2 .about-box .about-img-wrap:before {
  left: auto;
  right: calc(50% - 10px);
}

/*-------------------------------
    Counter  Section CSS
-------------------------------*/
.counter-card-wrap .counter-card .counter-text {
  margin-left: 0;
  margin-right: 20px;
}

.counter-card-wrap.style1 .counter-card:after, .counter-card-wrap.style4 .counter-card:after {
  right: auto;
  left: 45px;
}

.counter-card-wrap.style3 .counter-card:after {
  right: auto;
  left: 0;
}

/*--------------------------------------------
    Promo Video  & add-listing Section CSS
-----------------------------------------------*/
.add-listing-wrap .listing-content {
  padding-left: 0;
  padding-right: 60px;
}

.add-listing-wrap .listing-content .add-listing-shape {
  left: auto;
  right: 0;
}

/*-------------------------------
    Testimonial  Section CSS
-------------------------------*/
.testimonial-wrap .testimonial-shape-one {
  left: auto;
  right: 0;
}

.testimonial-card.style2 .client-info-wrap .client-info {
  margin-left: 0;
  margin-right: 15px;
}

.testimonial-card.style2 .client-info-wrap .ratings {
  text-align: left;
}

.testimonial-card.style3 .client-info-wrap .client-info {
  margin-right: 15px;
  margin-left: 0;
}

.testimonial-slider-two.owl-carousel .owl-nav button.owl-prev {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/*-------------------------------
   Other Section  CSS
-------------------------------*/
.accordion-item .accordion-header .accordion-button {
  padding: 15px 20px 15px 45px;
  text-align: right;
}

.accordion-item .accordion-header .accordion-button span {
  right: auto;
  left: 4px;
}

.contact-item .contact-info {
  margin-left: 0;
  margin-right: 25px;
}

/*-------------------------------------
     Property Card CSS
-----------------------------------*/
.property-card .property-price span {
  margin-left: 0;
  margin-right: 3px;
}

.property-card .property-info p {
  position: relative;
  padding-right: 20px;
}

.property-card .property-info p i {
  position: absolute;
  right: 0;
  top: 2px;
  margin-right: 0;
}

.property-card .property-info .property-metainfo li {
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.property-card.style1 .property-info .ratings {
  padding-right: 20px;
  position: relative;
}

.property-card.style1 .property-info .ratings i {
  position: absolute;
  top: 2px;
  right: 0;
  margin-right: 0;
}

.property-card.style1 .property-info p {
  padding-right: 0;
}

.property-card.style4 .property-info .property-price {
  padding-right: 0;
}

.city-card .city-info {
  left: auto;
  right: 25px;
}

.filter-item-num select, .filter-item-cat select {
  background-position: 8% 60%;
}

.property-details .property-price {
  text-align: left;
}

.property-details .property-desc h4 {
  font-size: 24px;
  margin: 0 0 25px;
}

.property-details .property-desc .property-metainfo li {
  margin-right: 0;
  margin-left: 20px;
}

.property-details .property-desc .property-metainfo li:first-child {
  margin-right: 0;
}

.property-details .property-desc .property-metainfo li:last-child {
  margin-left: 0;
}

.property-details .property-desc .property-annuties li {
  position: relative;
  padding-right: 24px;
}

.property-details .property-desc .property-annuties li i {
  position: absolute;
  top: 1px;
  right: 0;
  margin-right: 0;
}

.property-thumb-item .property-thumb-info {
  margin-left: 0;
  margin-right: 15px;
}

.agent-info-box .agent-address li {
  margin-bottom: 12px;
  padding-right: 30px;
}

.agent-info-box .agent-address li i {
  position: absolute;
  top: 1px;
  right: 0;
}

.agent-info-box .agent-name-wrap .agent-name {
  margin-left: 0;
  margin-right: 15px;
}

.agent-tablist .nav-item, .property-tablist .nav-item {
  margin-right: 0;
  margin-left: 25px;
}

/*-------------------------------------
     Blog CSS
-----------------------------------*/
.blog-card.style4 .blog-info .blog-date {
  right: auto;
  left: 20px;
}

.blog-card .blog-info .blog-metainfo li {
  padding-left: 0;
  padding-right: 20px;
  margin-right: 0;
  margin-left: 18px;
}

.blog-card .blog-info .blog-metainfo li:last-child {
  margin-left: 0;
}

.blog-card .blog-info .blog-metainfo li i {
  left: auto;
  right: 0;
}

.checkbox.form-check {
  padding-right: 0;
}

.wp-block-quote {
  border-left: none;
  border-right: 3px solid var(--mainColor);
  text-align: right;
}

.wp-block-quote h5 {
  padding-left: 0;
  padding-right: 60px;
}

.wp-block-quote h5:before {
  right: 0;
  left: auto;
}

.search-box .form-group button {
  right: auto;
  left: 0;
  border-radius: 5px 0px 0px 5px;
}

.search-box .form-group input {
  padding: 10px 20px 10px 60px;
}

.pp-post-item .pp-post-info {
  margin-left: 0;
  margin-right: 15px;
}

.category-box ul li {
  padding-left: 0;
  padding-right: 22px;
}

.category-box ul li:before {
  left: auto;
  right: 0;
}

.category-box ul li:after {
  left: auto;
  right: 2px;
}

.post-metainfo li {
  padding-right: 20px;
  padding-left: 0;
  margin-right: 0;
  margin-left: 18px;
}

.post-metainfo li:last-child {
  margin-left: 0;
}

.post-metainfo li i {
  left: auto;
  right: 0;
}

.content-feature-list li {
  padding-left: 0;
  padding-right: 25px;
}

.content-feature-list li i {
  left: auto;
  right: 0;
}

.content-feature-list.style2 li:before {
  left: auto;
  right: 0;
}

.content-feature-list.style2 li:after {
  left: auto;
  right: 2px;
}

.comment-box-title h4::after {
  left: auto;
  right: 0;
}

.post-tag span,
.post-share span {
  margin-right: 0;
  margin-left: 10px;
}

.post-author .post-author-info {
  margin-left: 0;
  margin-right: 20px;
}

.comment-item-wrap .comment-item .comment-author-wrap {
  margin-left: 0;
  margin-right: 20px;
}

.comment-item .comment-author-wrap .comment-author-name .comment-date {
  margin-left: 0;
  margin-right: 0;
}

.comment-item-wrap .comment-item .comment-author-wrap .comment-author-name h5 {
  margin-right: 0;
}

/*-------------------------------------
       Footer & Newsletter CSS
--------------------------------------*/
.newsletter-form .form-group {
  margin-right: 0;
  margin-left: 25px;
}

.newsletter-form .form-group:last-child {
  margin-left: 0;
}

.footer-wrap .footer-top .footer-menu li {
  padding-left: 0;
  padding-right: 0;
}

.footer-menu li a:after {
  left: auto;
  right: 0;
}

.footer-menu li a i {
  left: auto;
  right: 0;
}

.footer-widget .footer-widget-title:after {
  left: auto;
  right: 0;
}

.footer-wrap .footer-widget .footer-menu li a {
  padding-left: 0;
  padding-right: 20px;
}

.footer-wrap .footer-bottom .social-profile {
  text-align: left;
}

.copyright-text {
  text-align: right;
}

#contactForm .form-group .form-check {
  padding-right: 0px;
}

/*-------------------------------------
       Responsive CSS
-----------------------------------*/
@media only screen and (max-width: 375px) {
  .comment-item .comment-author-wrap {
    margin-left: 0 !important;
    margin-right: 10px;
  }
  .comment-item .comment-author-wrap .comment-author-name .comment-date {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .hero-wrap.style2 .container-fluid .client-feedback {
    right: auto;
    left: 35px;
  }
  .search-property .property-search-form .form-group {
    margin-left: 0;
  }
  .about-wrap.style1 .about-img-wrap .about-shape-one {
    left: auto;
    right: 10px;
  }
  .about-wrap.style1 .about-img-wrap .about-shape-two {
    right: auto;
    left: 0px;
  }
  .counter-card-wrap.style4 .counter-card {
    padding-left: 0;
    padding-right: 10px;
  }
  .counter-card-wrap .counter-card .counter-text {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav {
    left: auto;
    right: calc(50% - 20px);
  }
  .hero-wrap.style2 .container-fluid .client-feedback {
    right: auto;
    left: 35px;
  }
  .hero-wrap.style2 .hero-slide-item {
    padding: 130px 0 130px;
  }
  .hero-wrap.style2 .hero-content {
    padding-left: 0;
    padding-right: 30px;
  }
  .search-property .property-search-form .form-group {
    margin-right: 0;
    margin-left: 20px;
  }
  .search-property .property-search-form .form-group:nth-child(2) {
    margin-left: 0;
  }
  .about-wrap.style1 .about-img-wrap .about-img-two {
    max-width: 320px;
  }
  .about-wrap.style1 .about-img-wrap .about-shape-one {
    left: auto;
    right: 50px;
  }
  .counter-card-wrap .counter-card {
    padding-left: 0;
    padding-right: 40px;
  }
  .counter-card-wrap.style2 .counter-card {
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .hero-wrap.style1 .hero-content form input {
    height: 50px;
    padding: 10px 40px 10px 94px;
  }
  .hero-wrap.style1 .hero-content form i {
    left: auto;
    right: 15px;
  }
  .hero-wrap.style1 .hero-img-wrap .client-feedback {
    left: auto;
    right: 75px;
  }
  .hero-wrap.style3 .hero-content .property-search-form .form-group-wrap {
    margin-left: 0;
  }
  .hero-wrap.style2 .hero-slide-item::after {
    background: rgba(1, 34, 115, 0.6);
  }
  .hero-wrap .hero-content p {
    padding-right: 0;
    padding-left: 10px;
  }
  .counter-card-wrap.style3 .counter-card {
    padding-right: 0;
  }
  .agent-details-wrap .agent-info-wrap .agent-social span {
    margin-left: 0;
  }
  .testimonial-card.style2 .client-info-wrap .client-info {
    margin-left: 0;
    margin-right: 15px;
  }
  .add-listing-wrap .listing-content {
    padding-right: 20px;
    padding-left: 20px;
  }
  .accordion-item .accordion-header .accordion-button {
    padding: 20px 20px 15px 50px;
  }
  .newsletter-form .form-group {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .property-details .property-price {
    text-align: right;
  }
  .property-details .property-img .property-status {
    left: auto;
    right: 20px;
  }
  .back-to-top {
    right: auto !important;
    left: 20px;
  }
  .login-content {
    padding: 20px 20px 18px;
  }
  .comment-item-wrap .comment-item .comment-author-wrap {
    margin-right: 0;
  }
  .wp-block-quote .wp-quote-text {
    margin-left: 15px;
  }
  .pp-post-item .pp-post-info {
    margin-right: 10px;
  }
  .author-info-wrap .author-info {
    width: calc(100% - 60px);
    margin-right: 10px;
  }
  .comment-item .comment-author-wrap {
    margin-right: 10px;
  }
  .post-author .post-author-info {
    margin-left: 0;
    margin-right: 0;
  }
  .comment-item .comment-author-wrap .comment-author-name .comment-date {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-wrap .footer-bottom .social-profile,
  .copyright-text {
    text-align: center;
  }
  .newsletter-form .form-group {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-wrap.style1 .hero-img-wrap .client-feedback {
    left: auto;
    right: 75px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav {
    left: auto;
    right: calc(50% - 50px);
  }
  .hero-wrap.style2 .container-fluid .client-feedback {
    right: auto;
    left: 35px;
  }
  .hero-wrap.style2 .hero-slide-item:after {
    background: -webkit-gradient(linear, right top, left top, color-stop(10%, rgba(1, 34, 115, 0.9)), color-stop(96%, rgba(1, 34, 115, 0.02)), color-stop(77%, rgba(1, 34, 115, 0.04)));
    background: linear-gradient(-90deg, rgba(1, 34, 115, 0.9) 10%, rgba(1, 34, 115, 0.02) 96%, rgba(1, 34, 115, 0.04) 77%);
  }
  .hero-wrap.style2 .hero-content {
    padding-right: 30px;
    padding-left: 0;
  }
  .hero-wrap.style3 .hero-content .property-search-form .form-group-wrap {
    margin-right: 0;
    margin-left: 22px;
  }
  .hero-wrap.style3 .hero-content .property-search-form .form-group-wrap .form-group {
    border-right: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .hero-wrap.style3 .hero-content .property-search-form .form-group-wrap .form-group input, .hero-wrap.style3 .hero-content .property-search-form .form-group-wrap .form-group select {
    padding: 15px 20px 10px 15px;
  }
  .search-property .property-search-form .form-group {
    margin-right: 0;
    margin-left: 20px;
  }
  .search-property .property-search-form .form-group:nth-child(2) {
    margin-left: 0;
  }
  .about-wrap.style1 .about-img-wrap .about-shape-one {
    left: auto;
    right: 50px;
  }
  .add-listing-wrap .listing-content {
    padding-right: 25px;
    padding-left: 34px;
  }
  .counter-card-wrap .counter-card {
    padding-left: 0;
    padding-right: 60px;
  }
  .counter-card-wrap.style2 .counter-card {
    padding-left: 0;
    padding-right: 0;
  }
  .counter-card-wrap.style3 .counter-card {
    padding-right: 0;
  }
  .testimonial-card.style2 .client-info-wrap .client-info {
    margin-left: 0;
    margin-right: 15px;
  }
  .newsletter-form .form-group {
    margin-right: 0;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .header-wrap .navbar .navbar-nav .nav-item .menu-expand {
    right: auto;
    left: 0;
  }
  .about-wrap.style1 .about-shape-three {
    right: auto;
    left: 0;
  }
  .footer-wrap .footer-widget .comp-desc {
    padding-right: 0;
    margin: 30px 0 25px;
  }
}

@media only screen and (min-width: 992px) {
  .header-wrap .navbar .others-options {
    margin-left: 0;
    margin-right: 20px;
  }
  .header-wrap .header-btn button.btn.style3 {
    margin-left: 15px;
    margin-right: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    left: auto;
    right: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a::before {
    left: auto;
    right: 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active,
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
    padding-left: 0;
    padding-right: 32px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a i {
    right: auto;
    left: 15px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    top: 21px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: auto;
    right: -275px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-wrap.style1 .hero-img-wrap .client-feedback {
    left: auto;
    right: 75px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav {
    left: auto;
    right: calc((100% - 960px) + 123px);
  }
  .hero-wrap.style2 .hero-content {
    padding-left: 0;
    padding-right: 40px;
  }
  .search-property .property-search-form .form-group {
    margin-right: 0;
    margin-left: 20px;
  }
  .about-wrap.style1 .about-shape-three {
    right: auto;
    left: 0;
  }
  .about-wrap.style1 .about-img-wrap .about-shape-one {
    left: auto;
    right: 20px;
  }
  .counter-card-wrap.style1 .counter-card:after, .counter-card-wrap.style4 .counter-card:after {
    right: auto;
    left: 20px;
  }
  .hw-card .hw-img span {
    right: auto;
    left: 25px;
  }
  .add-listing-wrap .listing-content {
    padding-right: 26px;
    padding-left: 0;
  }
  .testimonial-slider-two.owl-carousel .owl-nav {
    margin: 25px -5px 0px 0px;
  }
  .newsletter-form .form-group {
    margin-right: 0;
    margin-left: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .content-title p {
    padding-left: 25px;
    padding-right: 0;
  }
  .footer-wrap .footer-widget .comp-desc {
    padding-right: 0;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
  .hero-wrap.style2 .hero-content {
    padding-left: 0;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-wrap.style1 .hero-img-wrap .client-feedback {
    left: auto;
    right: 75px;
  }
  .hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav {
    left: auto;
    right: calc((100% - 1140px) + 36px);
  }
  .about-wrap.style1 .about-img-wrap .about-shape-one {
    left: auto;
    right: 20px;
  }
  .counter-card-wrap.style1 .counter-card::after {
    right: auto;
    left: 25px;
  }
  .add-listing-wrap .listing-content {
    padding-right: 50px;
    padding-left: 41px;
  }
  .testimonial-slider-two.owl-carousel .owl-nav {
    margin: 25px -50px 0px 0px;
  }
  .testimonial-wrap.style2 .container-fluid {
    padding-right: calc((100% - 1520px) / 2 + 15px);
    padding-left: 0;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .hero-wrap.style1 .hero-img-wrap .hero-property-slider .owl-nav {
    left: auto;
    right: calc((100% - 1320px) + 84px);
  }
  .hero-wrap.style2 .hero-content {
    padding-left: 0;
    padding-right: 50px;
  }
  .add-listing-wrap .listing-content {
    padding-right: 50px;
    padding-left: 52px;
  }
  .testimonial-wrap.style2 .container-fluid {
    padding-right: calc((100% - 1520px) / 2 + 15px);
    padding-left: 0;
  }
}

@media only screen and (min-width: 1600px) {
  .hero-wrap .hero-property-slider .owl-nav {
    left: auto;
    right: calc((100% - 1520px) + 125px);
  }
  .hero-wrap.style2 .hero-content {
    padding-left: 0;
    padding-right: 50px;
  }
  .add-listing-wrap .listing-content {
    padding-right: 60px;
    padding-left: 202px;
  }
  .testimonial-slider-two.owl-carousel .owl-nav {
    margin: 25px -157px 0px 0;
  }
  .testimonial-wrap.style2 .container-fluid {
    padding-right: calc((100% - 1520px) / 2 + 15px);
    padding-left: 0;
  }
}

@media only screen and (min-width: 1920px) {
  .testimonial-slider-two.owl-carousel .owl-nav {
    margin: 25px -170px 0px 0;
  }
}
/*# sourceMappingURL=rtl.css.map */